body {
    font-family: Arial, sans-serif;
    background-color: #DEAC80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background-color: #C5705D;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#notification {
    margin-top: 10px;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    /* background-color: #DFD3C3; */
    padding: 10px 5px;
    border-radius: 20px;
}

.error-message{
    background-color: red;
    font-weight: bold;
}

