body {
    font-family: Arial, sans-serif;
    background-color: #DEAC80;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#app {
 
    background-color: #C5705D;
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 
#searchInput{
   justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;

} */





form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.submii{
    
  margin:  10px;
}

button {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    /* width: 500px; */
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#notification {
    margin-top: 10px;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    /* background-color: #DEAC80; */
    padding: 10px 5px;
    border-radius: 20px;
}

.error-message{
    background-color: red;
    font-weight: bold;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-color: #FAEDCE;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Close button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
}


    footer {
        display: flexbox;
        background-color: #C5705D;
         /* Adjusted width to ensure it fits the entire container */
       /* Added margin to give some space at the top */
        /* Added padding to give some space inside the footer */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center; /* Center the footer text */
        justify-content: center;
        text-wrap: wrap;
    }

    /* CSS for subscription form */
#subscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="email"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

.subscribe-notification {
    margin-bottom: 5px; /* Space between the notification and the button */
    font-size: 10px;
}

.submitButtonContainer {
    margin-top: 10px;
}

button {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

p {
    padding:   10px;
    font-size: 1.25rem;
    color: var(--text-light);
    background-color: var(--white);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  footer {
    padding: 20px;
    width: 700px;
    margin: auto;
  }
  